body {
  font-family: Arial, sans-serif;
}

  body > div {
    display: block;
    position: relative;
    box-sizing: border-box;

    padding: 1.5em;
  }

  @media screen and (min-width: 641px){
    body > div {
      padding: 2em;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }

#header {
  margin-bottom: 1em;
  margin-bottom: 0;
  max-width: 100%;
}

  #header > .wordmark {
    font-weight: 900;
    font-size: 1.375em;
    letter-spacing: -1px;
  }

    #header > .wordmark > .em-logo {
      margin-top: -5px;
      margin-right: .25em;
    }

#codes {
}

  #codes > .code {
    margin-bottom: 2em;
  }

    #codes > .code > .actions > .dial {
      text-decoration: none;
    }