body {
  font-family: Arial, sans-serif;
}

#header {
  margin-bottom: 3em;
  padding: 1em;
}

  #header > .wordmark {
    font-weight: 900;
    font-size: 1.375em;
    letter-spacing: -1px;
  }

#codes {

}

  #codes > .code {
    margin-bottom: 2em;
  }

    #codes > .code > .actions > .dial {
      text-decoration: none;
    }